/*
 * ------------------------------------------------------------------------------------------------------------
 * SPDX-License-Identifier: LGPL-2.1-only
 *
 * Copyright (c) 2016-2024 Lawrence Livermore National Security LLC
 * Copyright (c) 2018-2024 TotalEnergies
 * Copyright (c) 2018-2024 The Board of Trustees of the Leland Stanford Junior University
 * Copyright (c) 2023-2024 Chevron
 * Copyright (c) 2019-     GEOS/GEOSX Contributors
 * All rights reserved
 *
 * See top level LICENSE, COPYRIGHT, CONTRIBUTORS, NOTICE, and ACKNOWLEDGEMENTS files for details.
 * ------------------------------------------------------------------------------------------------------------
 */

#include "physicsSolvers/fluidFlow/kernels/compositional/CompositionalMultiphaseHybridFVMKernels.hpp"
#include "physicsSolvers/fluidFlow/kernels/compositional/CompositionalMultiphaseHybridFVMKernels_impl.hpp"

namespace geos
{
namespace compositionalMultiphaseHybridFVMKernels
{
  constexpr int NF = @NFACES@;
  constexpr int NC = @NCOMPS@;
  constexpr int NP = @NPHASES@;
  using IP_TYPE = @IP_TYPE@;

  @EXTERN@
  template
  void
  DirichletFluxKernel::
    launch< NF, NC, NP, IP_TYPE >( integer const numPhases,
                                    localIndex const er,
                                    localIndex const esr,
                                    CellElementSubRegion const & subRegion,
                                    constitutive::PermeabilityBase const & permeabilityModel,
                                    FaceManager const & faceManager,
                                    SortedArrayView< localIndex const > const & boundaryFaceSet,
                                    arrayView1d< real64 const > const & facePres,
                                    arrayView1d< real64 const > const & faceTemp,
                                    arrayView2d< real64 const, compflow::USD_COMP > const & faceCompFrac,
                                    arrayView2d< real64 const, compflow::USD_PHASE > const & facePhaseMob,
                                    arrayView2d< real64 const, compflow::USD_PHASE > const & facePhaseMassDens,
                                    arrayView3d< real64 const, compflow::USD_PHASE_COMP > const & facePhaseCompFrac,
                                    arrayView2d< real64 const, nodes::REFERENCE_POSITION_USD > const & nodePosition,
                                    ArrayOfArraysView< localIndex const > const & faceToNodes,
                                    arrayView2d< localIndex const > const & elemRegionList,
                                    arrayView2d< localIndex const > const & elemSubRegionList,
                                    arrayView2d< localIndex const > const & elemList,
                                    arrayView1d< globalIndex const > const & faceDofNumber,
                                    arrayView1d< real64 const > const & faceGravCoef,
                                    arrayView1d< real64 const > const & transMultiplier,
                                    real64 const lengthTolerance,
                                    real64 const dt,
                                    globalIndex const rankOffset,
                                    integer const useTotalMassEquation,
                                    CompFlowAccessors const & compFlowAccessors,
                                    MultiFluidAccessors const & multiFluidAccessors,
                                    ElementViewConst< arrayView1d< globalIndex const > > const & elemDofNumber,
                                    CRSMatrixView< real64, globalIndex const > const & localMatrix,
                                    arrayView1d< real64 > const & localRhs );

}
}

