#include "physicsSolvers/fluidFlow/kernels/compositional/DirichletFluxComputeKernel.hpp"

using DirichletFluxComputeKernelPolicy = @DirichletFluxComputeKernelPolicy@;

namespace geos
{
namespace isothermalCompositionalMultiphaseFVMKernels
{
  @EXTERN@ template class @NAME@ < @NCOMPS_FLUID@::KernelWrapper, @IS_THERMAL@ >;
  // template void @NAME@ < @NCOMPS_FLUID@::KernelWrapper, @IS_THERMAL@ >::launch< @NAME@Policy >( localIndex const,
                                                                                        // @NAME@ < @NCOMPS_FLUID@::KernelWrapper, @IS_THERMAL@ > const & );
}
}