build-*
install-*
.cproject
.project
.pydevproject
.settings
.idea/
*.swp
*.swo
*.swn
*.nfs*
*.vscode*
*.devcontainer*
*.out
*.core
*.DS_Store
/build/
/Default/
/debugTests/
/Debug/
uberenv_libs
spack-*.txt
*~