/build*/
/install*/
.cproject
.project
.pydevproject
.settings
.idea/
*.swp
*.swo
*.swn
*.nfs*
*.vscode/*.json
*.vscode-codespaces*
*.devcontainer*
*.out
*.core
*.DS_Store
/Default/
/debugTests/
/Debug/
uberenv_libs
spack-*.txt
*~
__pycache__
host-configs/CVX/CPU-OPTO2-Hypre-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/CPU-OPTO3-Hypre-GCC_10.2.0-impi_2021.08-OMP.cmake
host-configs/CVX/CPU-OPTO3-Hypre-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/CPU-OPTO3fast-Hypre-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/CPU-OPTO3fastmath-Hypre-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/GPU-Hypre-GCC-CUDA_11.8-impi_2021.08-OMP.cmake
host-configs/CVX/GPU-Hypre-GCC-CUDA_11.8-ompi_hpcx-OMP.cmake
host-configs/CVX/tpls.cmake
host-configs/CVX/Experimental/CPU-Hypre-GCC_10.2.0-impi_2018.04-OMP.cmake
host-configs/CVX/Experimental/CPU-Hypre-GCC_10.2.0-impi_2018.04.cmake
host-configs/CVX/Experimental/CPU-Hypre-GCC_10.2.0-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/CPU-Hypre-GCC_10.2.0-impi_2021.06.cmake
host-configs/CVX/Experimental/CPU-Hypre-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/Experimental/CPU-Hypre-GCC_10.2.0-ompi_hpcx.cmake
host-configs/CVX/Experimental/CPU-Hypre-GCC_12.2.0-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/CPU-Hypre-GCC_12.2.0-impi_2021.06.cmake
host-configs/CVX/Experimental/CPU-NOOPT-Hypre-GCC_10.2.0-impi_2018.04-OMP.cmake
host-configs/CVX/Experimental/CPU-NOOPT-Hypre-GCC_10.2.0-impi_2018.04.cmake
host-configs/CVX/Experimental/CPU-NOOPT-Hypre-GCC_10.2.0-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/CPU-NOOPT-Hypre-GCC_10.2.0-impi_2021.06.cmake
host-configs/CVX/Experimental/CPU-NOOPT-Hypre-GCC_10.2.0-impi_2021.08-OMP.cmake
host-configs/CVX/Experimental/CPU-NOOPT-Hypre-GCC_10.2.0-impi_2021.08.cmake
host-configs/CVX/Experimental/CPU-NOOPT-Hypre-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/Experimental/CPU-NOOPT-Hypre-GCC_10.2.0-ompi_hpcx.cmake
host-configs/CVX/Experimental/CPU-OPTO1-Hypre-GCC_10.2.0-impi_2018.04-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO1-Hypre-GCC_10.2.0-impi_2018.04.cmake
host-configs/CVX/Experimental/CPU-OPTO1-Hypre-GCC_10.2.0-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO1-Hypre-GCC_10.2.0-impi_2021.06.cmake
host-configs/CVX/Experimental/CPU-OPTO1-Hypre-GCC_10.2.0-impi_2021.08-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO1-Hypre-GCC_10.2.0-impi_2021.08.cmake
host-configs/CVX/Experimental/CPU-OPTO1-Hypre-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO1-Hypre-GCC_10.2.0-ompi_hpcx.cmake
host-configs/CVX/Experimental/CPU-OPTO2-Hypre-GCC_10.2.0-impi_2018.04-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO2-Hypre-GCC_10.2.0-impi_2018.04.cmake
host-configs/CVX/Experimental/CPU-OPTO2-Hypre-GCC_10.2.0-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO2-Hypre-GCC_10.2.0-impi_2021.06.cmake
host-configs/CVX/Experimental/CPU-OPTO2-Hypre-GCC_10.2.0-impi_2021.08-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO2-Hypre-GCC_10.2.0-impi_2021.08.cmake
host-configs/CVX/Experimental/CPU-OPTO2-Hypre-GCC_10.2.0-ompi_hpcx.cmake
host-configs/CVX/Experimental/CPU-OPTO3-Hypre-GCC_10.2.0-impi_2018.04-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3-Hypre-GCC_10.2.0-impi_2018.04.cmake
host-configs/CVX/Experimental/CPU-OPTO3-Hypre-GCC_10.2.0-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3-Hypre-GCC_10.2.0-impi_2021.06.cmake
host-configs/CVX/Experimental/CPU-OPTO3-Hypre-GCC_10.2.0-impi_2021.08-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3-Hypre-GCC_10.2.0-impi_2021.08.cmake
host-configs/CVX/Experimental/CPU-OPTO3-Hypre-GCC_10.2.0-ompi_hpcx.cmake
host-configs/CVX/Experimental/CPU-OPTO3fast-Hypre-GCC_10.2.0-impi_2018.04-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3fast-Hypre-GCC_10.2.0-impi_2018.04.cmake
host-configs/CVX/Experimental/CPU-OPTO3fast-Hypre-GCC_10.2.0-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3fast-Hypre-GCC_10.2.0-impi_2021.06.cmake
host-configs/CVX/Experimental/CPU-OPTO3fast-Hypre-GCC_10.2.0-impi_2021.08-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3fast-Hypre-GCC_10.2.0-impi_2021.08.cmake
host-configs/CVX/Experimental/CPU-OPTO3fast-Hypre-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3fast-Hypre-GCC_10.2.0-ompi_hpcx.cmake
host-configs/CVX/Experimental/CPU-OPTO3fastmath-Hypre-GCC_10.2.0-impi_2018.04-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3fastmath-Hypre-GCC_10.2.0-impi_2018.04.cmake
host-configs/CVX/Experimental/CPU-OPTO3fastmath-Hypre-GCC_10.2.0-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3fastmath-Hypre-GCC_10.2.0-impi_2021.06.cmake
host-configs/CVX/Experimental/CPU-OPTO3fastmath-Hypre-GCC_10.2.0-impi_2021.08-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3fastmath-Hypre-GCC_10.2.0-impi_2021.08.cmake
host-configs/CVX/Experimental/CPU-OPTO3fastmath-Hypre-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/Experimental/CPU-OPTO3fastmath-Hypre-GCC_10.2.0-ompi_hpcx.cmake
host-configs/CVX/Experimental/GPU-Hypre-GCC-CUDA_11.7-impi_2021.06.cmake
host-configs/CVX/Experimental/GPU-Hypre-GCC-CUDA_11.7-impi_2021.08-OMP.cmake
host-configs/CVX/Experimental/GPU-Hypre-GCC-CUDA_11.7-impi_2021.08.cmake
host-configs/CVX/Experimental/GPU-Hypre-GCC-CUDA_11.7-ompi_hpcx-OMP.cmake
host-configs/CVX/Experimental/GPU-Hypre-GCC-CUDA_11.7-ompi_hpcx.cmake
host-configs/CVX/Experimental/GPU-Hypre-GCC-CUDA_11.8-impi_2021.08-OMP.cmake
host-configs/CVX/Experimental/GPU-Hypre-GCC-CUDA_11.8-impi_2021.08.cmake
host-configs/CVX/Experimental/GPU-Hypre-GCC-CUDA_11.8-ompi_hpcx.cmake
host-configs/CVX/Experimental/README.txt
host-configs/CVX/Experimental/IntelCompilers/CPU-Intel_2021.06-impi_2021.06.cmake
host-configs/CVX/Experimental/IntelCompilers/CPU-OPTO3-Hypre-Intel_ICX-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/IntelCompilers/CPU-OPTO3-Hypre-Intel_ICX-ompi_hpcx-OMP.cmake
host-configs/CVX/Experimental/IntelCompilers/CPU-OPTO3-Hypre-Intel-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/IntelCompilers/CPU-OPTO3-Hypre-Intel-ompi_hpcx-OMP.cmake
host-configs/CVX/Experimental/IntelCompilers/CPU-Trilinos-Intel_2021.06-impi_2021.06.cmake
host-configs/CVX/Experimental/NVHPC/CPU-ARM64-NVHPC_22.7-ompi_hpcx.cmake
host-configs/CVX/Experimental/NVHPC/CPU-Hypre-NVHPC_22.7-ompi_hpcx.cmake
host-configs/CVX/Experimental/NVHPC/GPU-ARM64-NVHPC_22.7-CUDA_11.7-ompi_hpcx.cmake
host-configs/CVX/Experimental/NVHPC/GPU-Hypre-NVHPC_22.7-ompi_hpcx.cmake
host-configs/CVX/Experimental/NVHPC/GPU-NVHPC_22.7-CUDA_11.7-ompi_hpcx.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-impi_2018.04-OMP.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-impi_2018.04.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-impi_2021.06-OMP.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-impi_2021.06.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-impi_2021.08-OMP.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-impi_2021.08.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-OMP-MKL.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-OMP.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-ompi_hpcx-OMP.cmake
host-configs/CVX/Experimental/Trilinos/CPU-Trilinos-GCC_10.2.0-ompi_hpcx.cmake
