[submodule "src/coreComponents/LvArray"]
	path = src/coreComponents/LvArray
	url = https://github.com/GEOSX/LvArray.git
[submodule "src/cmake/blt"]
	path = src/cmake/blt
	url = https://github.com/LLNL/blt.git
[submodule "src/externalComponents/PVTPackage"]
	path = src/externalComponents/PVTPackage
	url = https://github.com/GEOSX/PVTPackage.git
[submodule "integratedTests"]
	path = integratedTests
	url = git@github.com:GEOSX/integratedTests.git
[submodule "src/externalComponents/PAMELA"]
	path = src/externalComponents/PAMELA
	url = https://github.com/GEOSX/PAMELA.git
	shallow = true
[submodule "src/coreComponents/fileIO/coupling/hdf5_interface"]
	path = src/coreComponents/fileIO/coupling/hdf5_interface
	url = https://github.com/GEOSX/hdf5_interface.git
[submodule "src/coreComponents/physicsSolvers/GEOSX_PTP"]
	path = src/coreComponents/physicsSolvers/GEOSX_PTP
	url = https://github.com/GEOSX/GEOSX_PTP.git
