build-system76-pc-clang-release/lib/*.a filter=lfs diff=lfs merge=lfs -text
build-system76-pc-clang-release/lib/*.so filter=lfs diff=lfs merge=lfs -text
build-system76-pc-clang-release/lib/*.pa filter=lfs diff=lfs merge=lfs -text
