[submodule "src/coreComponents/LvArray"]
	path = src/coreComponents/LvArray
	url = ../LvArray.git
[submodule "src/cmake/blt"]
	path = src/cmake/blt
	url = ../../LLNL/blt.git
[submodule "src/externalComponents/PVTPackage"]
	path = src/externalComponents/PVTPackage
	url = ../PVTPackage.git
[submodule "integratedTests"]
	path = integratedTests
	url = ../integratedTests.git
[submodule "src/externalComponents/PAMELA"]
	path = src/externalComponents/PAMELA
	url = ../PAMELA.git
	shallow = true
[submodule "src/coreComponents/fileIO/coupling/hdf5_interface"]
	path = src/coreComponents/fileIO/coupling/hdf5_interface
	url = ../hdf5_interface.git
[submodule "src/coreComponents/physicsSolvers/GEOSX_PTP"]
	path = src/coreComponents/physicsSolvers/GEOSX_PTP
	url = ../GEOSX_PTP.git
[submodule "src/externalComponents/TC02350"]
	path = src/externalComponents/TC02350
	url = git@github.com:GEOSX/TC02350.git
