language: cpp
env:
  global:
  - OMP_NUM_THREADS=3
  - DO_BUILD=yes
  - DO_TEST=yes
  - CMAKE_EXTRA_FLAGS="-DENABLE_WARNINGS=On -DENABLE_TBB=On -DBLT_CXX_STD=c++14 -DENABLE_WARNINGS_AS_ERRORS=ON"
  - DOCKER_DATE=2019-09-22
  - TPL_OSX_TRAVIS_BUILD_NUMBER=176
matrix:
  include:
  - os: osx
    osx_image: xcode10.2
    env:
    - CC=clang
    - CXX=clang++
    - FC=gfortran
    - MPICC=mpicc
    - MPICXX=mpicxx
    - MPIFC=mpifort
    - MPIEXEC=/usr/local/bin/mpirun
    - GEOSX_TPL_DIR=/Users/travis/build/GEOSX/thirdPartyLibs/install-environment-release
    - CMAKE_BUILD_TYPE=Release
  - compiler: clang6-LC-toss3
    sudo: required
    services: docker
    dist: trusty
    env:
    - IMG=clang6-LC-toss3
    - GEOSX_TPL_DIR=/home/geosx/thirdPartyLibs/install-environment-release
    - CMAKE_BUILD_TYPE=Release
  - compiler: clang7-LC-toss3
    sudo: required
    services: docker
    dist: trusty
    env:
    - IMG=clang7-LC-toss3
    - GEOSX_TPL_DIR=/home/geosx/thirdPartyLibs/install-environment-release
    - CMAKE_BUILD_TYPE=Release
  - compiler: clang7-LC-toss3-debug
    sudo: required
    services: docker
    dist: trusty
    env:
    - IMG=clang7-LC-toss3
    - GEOSX_TPL_DIR=/home/geosx/thirdPartyLibs/install-environment-release
    - CMAKE_BUILD_TYPE=Debug
  - compiler: gcc7-ubuntu18
    sudo: required
    services: docker
    dist: trusty
    env:
    - IMG=gcc7-ubuntu18
    - GEOSX_TPL_DIR=/home/geosx/thirdPartyLibs/install-environment-release
    - CMAKE_BUILD_TYPE=Release
  - compiler: gcc8-ubuntu18
    sudo: required
    services: docker
    dist: trusty
    env:
    - IMG=gcc8-ubuntu18
    - GEOSX_TPL_DIR=/home/geosx/thirdPartyLibs/install-environment-release
    - CMAKE_BUILD_TYPE=Release
  - compiler: gcc8-ubuntu18-debug
    sudo: required
    services: docker
    dist: trusty
    env:
    - IMG=gcc8-ubuntu18
    - GEOSX_TPL_DIR=/home/geosx/thirdPartyLibs/install-environment-release
    - CMAKE_BUILD_TYPE=Debug
git:
  submodules: false
before_script:
  - set -e -o pipefail
  - git submodule update --init --recursive src/coreComponents/cxx-utilities
  - git submodule update --init --recursive src/cmake/blt
  - git submodule update --init --recursive src/externalComponents/PVTPackage
  - git submodule update --init --recursive src/externalComponents/PAMELA
  - git submodule update --init --recursive src/coreComponents/fileIO/coupling/hdf5_interface
  - git submodule update --init --recursive src/externalComponents/GEOSX_PTP
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker run --rm --user='root' -v ${TRAVIS_BUILD_DIR}:/home/geosx/geosx_repo geosx/compiler:$IMG-$DOCKER_DATE  chown -R geosx /home/geosx;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew install openmpi;
      ln -s /usr/local/Cellar/open-mpi/4.0.1_2 /usr/local/Cellar/open-mpi/4.0.1_1;
      cd ..;
      mkdir thirdPartyLibs;
      cd thirdPartyLibs;
      curl "https://www.googleapis.com/storage/v1/b/geosx/o/TPL%2Fosx-${TPL_OSX_TRAVIS_BUILD_NUMBER}.tar?alt=media" | tar xv - ;
      sudo mkdir -p /Users/settgast1/Codes/geosx/;
      sudo ln -s /Users/travis/build/GEOSX/thirdPartyLibs /Users/settgast1/Codes/geosx/thirdPartyLibs;
      cd /Users/travis/build/GEOSX/GEOSX ;
    fi
script: 
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      python ${TRAVIS_BUILD_DIR}/scripts/config-build.py -hc ${TRAVIS_BUILD_DIR}/host-configs/darwin-clang.cmake -DBLT_MPI_COMMAND_APPEND:STRING="--oversubscribe";
      cd build-darwin-clang-debug;
      make -j2 VERBOSE=1;
      ctest -V;
    else
      docker run --rm -v ${TRAVIS_BUILD_DIR}:/home/geosx/GEOSX  -e GEOSX_TPL_DIR -e CMAKE_BUILD_TYPE geosx/compiler:$IMG-$DOCKER_DATE  /home/geosx/GEOSX/scripts/travis_build_and_test.sh;
    fi
