language: minimal
env:
  global:
  - GEOSX_TPL_TAG=81-251
matrix:
  include:
  - os: osx
    osx_image: xcode10.2
    env:
    - CC=clang
    - CXX=clang++
    - MPICC=mpicc
    - MPICXX=mpicxx
    - MPIEXEC=/usr/local/bin/mpirun
  - services: docker
    env:
    - DOCKER_REPOSITORY=totogaz/centos7.5.1804-clang6.0.1
    - CMAKE_BUILD_TYPE=Release
  - services: docker
    env:
    - DOCKER_REPOSITORY=totogaz/centos7.5.1804-clang7.0.0
    - CMAKE_BUILD_TYPE=Release
  - services: docker
    env:
    - DOCKER_REPOSITORY=totogaz/centos7.5.1804-clang7.0.0
    - CMAKE_BUILD_TYPE=Debug
  - services: docker
    env:
    - DOCKER_REPOSITORY=totogaz/ubuntu18.04-gcc7
    - CMAKE_BUILD_TYPE=Release
  - services: docker
    env:
    - DOCKER_REPOSITORY=totogaz/ubuntu18.04-gcc8
    - CMAKE_BUILD_TYPE=Release
  - services: docker
    env:
    - DOCKER_REPOSITORY=totogaz/ubuntu18.04-gcc8
    - CMAKE_BUILD_TYPE=Debug
git:
  submodules: false
before_script:
- git submodule update --init --recursive src/coreComponents/cxx-utilities
- git submodule update --init --recursive src/cmake/blt
- git submodule update --init --recursive src/externalComponents/PVTPackage
- git submodule update --init --recursive src/externalComponents/PAMELA
- git submodule update --init --recursive src/coreComponents/fileIO/coupling/hdf5_interface
- git submodule update --init --recursive src/coreComponents/physicsSolvers/GEOSX_PTP
  # For osx, we download the brew version which was used to build the TPL (mainly because of openmpi).
  # A python one-liner is used no to install `jq` just for this purpose.
  # We also are careful about the carriage return, so we can build the URL smoothly.
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    mkdir ../thirdPartyLibs;
    TPL_METADATA_URL=https://www.googleapis.com/storage/v1/b/geosx/o/TPL%2Fosx-${GEOSX_TPL_TAG}.tar;
    TPL_BULK_URL=${TPL_METADATA_URL}?alt=media;
    curl -s "${TPL_BULK_URL}" | tar --directory=../thirdPartyLibs -xf -;
    BREW_HASH=$(curl -s "${TPL_METADATA_URL}" | python3 -c "import sys, json; print(json.load(sys.stdin)['metadata']['BREW_HASH'], end='')");
    BREW_URL=https://raw.github.com/Homebrew/homebrew-core/${BREW_HASH};
    brew install ${BREW_URL}/Formula/open-mpi.rb;
  fi
script:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    python ${TRAVIS_BUILD_DIR}/scripts/config-build.py -hc ${TRAVIS_BUILD_DIR}/host-configs/darwin-clang.cmake -DBLT_MPI_COMMAND_APPEND:STRING="--oversubscribe" -DENABLE_GEOSX_PTP:BOOL=ON;
    cd build-darwin-clang-debug;
    make -j $(nproc) VERBOSE=1;
    ctest -V;
  else
    docker run --rm -v ${TRAVIS_BUILD_DIR}:/tmp/GEOSX -e CMAKE_BUILD_TYPE ${DOCKER_REPOSITORY}:${GEOSX_TPL_TAG} /tmp/GEOSX/scripts/travis_build_and_test.sh;
  fi
