<?xml version="1.0" ?>

<Problem>
  <Solvers>
    <ImplicitSpringSlider
      name="SpringSlider"
      targetRegions="{ Fault }"
      shearImpedance="4.41"
      initialDt="1"
      targetSlipIncrement="2e-7"
      logLevel="1"
      discretization="FE1"/>
  </Solvers>

  <Events maxTime="4.5e4">
    <PeriodicEvent
      name="vtkOutput"
      cycleFrequency="2000"
      targetExactTimestep="0"
      target="/Outputs/vtkOutput"/>
    <PeriodicEvent
      name="timeHistoryOutput"
      cycleFrequency="2000"
      targetExactTimestep="0"
      target="/Outputs/timeHistoryOutput"/>
    <PeriodicEvent
      name="resarts"
      timeFrequency="4.5e4"
      targetExactTimestep="0"
      target="/Outputs/restart"/>
  </Events>
</Problem>
