
#include "SolidMechanicsSmallStrainExplicitNewmarkKernel_impl.hpp"

namespace geosx
{
namespace solidMechanicsLagrangianFEMKernels
{
template class ExplicitSmallStrain< SUBREGION_TYPE, CONSTITUTIVE_TYPE, FE_TYPE >;
}
}
