#include "physicsSolvers/fluidFlow/kernels/compositional/DirichletFluxComputeKernel.hpp"

using DirichletFluxComputeKernelPolicy = @DirichletFluxComputeKernelPolicy@;

namespace geos
{
namespace isothermalCompositionalMultiphaseFVMKernels
{
  @EXTERN@ template class @NAME@ < @NCOMPS_THERMAL_FLUID@::KernelWrapper >;
  // template void @NAME@ < @NCOMPS_THERMAL_FLUID@::KernelWrapper >::launch< @NAME@Policy >( localIndex const,
                                                                                        // @NAME@ < @NCOMPS_THERMAL_FLUID@::KernelWrapper > const & );
}
}