#include "physicsSolvers/fluidFlow/kernels/compositional/ReactiveCompositionalMultiphaseOBLKernels.hpp"
#include "finiteVolume/CellElementStencilTPFA.hpp"
#include "finiteVolume/SurfaceElementStencil.hpp"
#include "finiteVolume/EmbeddedSurfaceToCellStencil.hpp"
#include "finiteVolume/FaceElementToCellStencil.hpp"

using FluxComputeKernelPolicy = @FluxComputeKernelPolicy@;

namespace geos
{
namespace reactiveCompositionalMultiphaseOBLKernels
{
  @EXTERN@ template class @NAME@ < @NPHASES@, @NCOMPS@, @ENABLE_ENERGY@, @STENCIL@::KernelWrapper >;
  @EXTERN@ template void @NAME@ < @NPHASES@, @NCOMPS@, @ENABLE_ENERGY@, @STENCIL@::KernelWrapper >::launch< @NAME@Policy,
                                                                                                        @NAME@ < @NPHASES@, @NCOMPS@, @ENABLE_ENERGY@, @STENCIL@::KernelWrapper > >
                                                                                                         ( const localIndex,
                                                                                                           @NAME@ < @NPHASES@, @NCOMPS@, @ENABLE_ENERGY@, @STENCIL@::KernelWrapper > const & );
}
}

