<?xml version="1.0" ?>
<Problem>
  <Included>
    <File
      name="./SpringSlider_base.xml"/>
  </Included>

  <Events
    maxTime="4.5e4">

    <SoloEvent 
      name="generateFault"
      target="/Solvers/SurfaceGen"/>

    <PeriodicEvent
      name="vtkOutput"
      cycleFrequency="1"
      targetExactTimestep="0"
      target="/Outputs/vtkOutput"/>  
      
    <PeriodicEvent
      name="solverApplications"
      maxEventDt="1e4"
      target="/Solvers/SpringSlider"/>

    <PeriodicEvent
      name="resarts"
      timeFrequency="2e4"
      targetExactTimestep="0"
      target="/Outputs/restart"/>  
  </Events>
</Problem>