<?xml version="1.0" ?>
<Problem>
  <Solvers>
    <QuasiDynamicEQ
      name="SpringSlider"
      targetRegions="{ Fault }"
      shearImpedance="4.41">
    </QuasiDynamicEQ>
    
    <SurfaceGenerator
      name="SurfaceGen"
      targetRegions="{ Domain }"
      rockToughness="1.0"
      nodeBasedSIF="1"
      mpiCommOrder="1"/>  
  </Solvers>

  <Mesh>
    <InternalMesh
      name="mesh"
      elementTypes="{ C3D8 }"
      xCoords="{ 0, 1 }"
      yCoords="{ 0, 2 }"
      zCoords="{ 0, 1 }"
      nx="{ 1 }"
      ny="{ 2 }"
      nz="{ 1 }"
      cellBlockNames="{ cb1 }"/>
  </Mesh>

  <Geometry>    
    <ThickPlane
      name="faultPlane"
      normal="{ 0, 1, 0 }"
      origin="{ 0, 0, 0 }"
      thickness="0.1"/>
  </Geometry>

  <ElementRegions>
    <CellElementRegion
      name="Domain"
      cellBlocks="{ cb1 }"
      materialList="{}"/>

    <SurfaceElementRegion
      name="Fault"
      materialList="{frictionLaw}"
      defaultAperture="1e-3"/>  
    </ElementRegions>

  <Constitutive>
    <RateAndStateFriction
      name="frictionLaw"
      defaultA="0.01"
      defaultB="0.015"
      defaultDc="1.0e-5"  
      defaultReferenceVelocity="1.0e-6"
      defaultReferenceFrictionCoefficient="0.6"/>  
  </Constitutive>

  <FieldSpecifications>
    <FieldSpecification
      name="fault"
      fieldName="ruptureState"
      initialCondition="1"
      objectPath="faceManager"
      scale="1"
      setNames="{ faultPlane }"/>

    <FieldSpecification
      name="separableFace"
      fieldName="isFaceSeparable"
      initialCondition="1"
      objectPath="faceManager"
      scale="1"
      setNames="{ faultPlane }"/> 
    </FieldSpecifications>

  <Outputs>
    <VTK
      name="vtkOutput"/>

    <TimeHistory
      name="timeHistoryOutput"
      sources="{/Tasks/seismicRateCollection}"
      filename="seismicityRate" />
  </Outputs>

  <Tasks>
    <PackCollection
      name="seismicRateCollection"
      objectPath="ElementRegions/Domain/cb1"
      fieldName="slip"/>
    
    <PackCollection
      name="seismicRateCollection"
      objectPath="ElementRegions/Domain/cb1"
      fieldName="slipRate"/>
      
    <PackCollection
      name="seismicRateCollection"
      objectPath="ElementRegions/Domain/cb1"
      fieldName="stateVariable"/>  
  </Tasks>
</Problem>